# M2 ADB Configuration

# IP address or hostname of the device running ADB
ADB_HOST=127.0.0.1
# Port for ADB
ADB_PORT=5037

# API URL for the PI Engine (M1) to listen for decisions
M1_API_URL=http://localhost:5000
